<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="music.mapper.ConsumerMapper">
    <resultMap id="ConsumerResultMap" type="music.domain.Consumer">
        <!-- column是数据库中表的栏位名， property是实体对应的属性名-->
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="username" jdbcType="VARCHAR" property="username"/>
        <result column="password" jdbcType="VARCHAR" property="password"/>
        <result column="sex" jdbcType="TINYINT" property="sex"/>
        <result column="phone_num" jdbcType="CHAR" property="phoneNum"/>
        <result column="email" jdbcType="CHAR" property="email"/>
        <result column="birth" jdbcType="TIMESTAMP" property="birth"/>
        <result column="introduction" jdbcType="VARCHAR" property="introduction"/>
        <result column="location" jdbcType="VARCHAR" property="location"/>
        <result column="avator" jdbcType="VARCHAR" property="avator"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="update_time" jdbcType="TIMESTAMP" property="updateTime"/>
    </resultMap>

    <sql id="BaseColumnList">
        id, username, password, sex, phone_num, email, birth, introduction, location, avator, create_time, update_time
    </sql>

    <!--增加-->
    <insert id="insert" parameterType="Consumer">
        insert into consumer
        <trim prefix="(" suffix=")" suffixOverrides=","> /*suffixOverrides用于去掉最后那个逗号*/
            <if test="id != null">
                id,
            </if>
            <if test="username != null">
                username,
            </if>
            <if test="password != null">
                password,
            </if>
            <if test="sex != null">
                sex,
            </if>
            <if test="phoneNum != null">
                phone_num,
            </if>
            <if test="email != null">
                email,
            </if>
            <if test="birth != null">
                birth,
            </if>
            <if test="introduction != null">
                introduction,
            </if>
            <if test="location != null">
                location,
            </if>
            <if test="avator != null">
                avator,
            </if>
            create_time,
            update_time,
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id},
            </if>
            <if test="username != null">
                #{username},
            </if>
            <if test="password != null">
                #{password},
            </if>
            <if test="sex != null">
                #{sex},
            </if>
            <if test="phoneNum != null">
                #{phoneNum},
            </if>
            <if test="email != null">
                #{email},
            </if>
            <if test="birth != null">
                #{birth},
            </if>
            <if test="introduction != null">
                #{introduction},
            </if>
            <if test="location != null">
                #{location},
            </if>
            <if test="avator != null">
                #{avator},
            </if>
            now(), now(),
        </trim>
    </insert>

    <!--修改-->
    <update id="update" parameterType="Consumer">
        update consumer
        <set>
            <if test="username != null">
                username = #{username},
            </if>
            <if test="password != null">
                password = #{password},
            </if>
            <if test="sex != null">
                sex = #{sex},
            </if>
            <if test="phoneNum != null">
                phone_num = #{phoneNum},
            </if>
            <if test="email != null">
                email = #{email},
            </if>
            <if test="birth != null">
                birth = #{birth},
            </if>
            <if test="introduction != null">
                introduction = #{introduction},
            </if>
            <if test="location != null">
                location = #{location},
            </if>
            <if test="avator != null">
                avator = #{avator},
            </if>
            update_time = now(),
        </set>
        where id = #{id}
    </update>

    <!--判断密码-->
    <select id="verifyPassword" resultType="Integer" parameterType="HashMap">
        select count(*)
        from consumer
        where username = #{username} and password = #{password}
    </select>

    <!--删除-->
    <delete id="delete" parameterType="Integer">
        delete from consumer where id = #{id}
    </delete>

    <!--根据id查询-->
    <select id="selectById" parameterType="Integer" resultMap="ConsumerResultMap">
        select
        <include refid="BaseColumnList"/>
        from consumer where id = #{id}
    </select>

    <!--查询所有用户-->
    <select id="selectAllConsumer" resultMap="ConsumerResultMap">
        select
        <include refid="BaseColumnList"/>
        from consumer
    </select>

    <!--根据用户名字查询-->
    <select id="selectByUsername" parameterType="String" resultType="Consumer" >
        select
        <include refid="BaseColumnList"/>
        from consumer
        where username = #{username}
    </select>
</mapper>
